# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db
%config SqlMagic.displaylimit = 100

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [ ]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [ ]:
%%sql --file populate.sql

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [ ]:
%%sql
-- (RI-1)

ALTER TABLE employee 
ADD CHECK (EXTRACT(YEAR FROM AGE(CURRENT_DATE, bdate)) >= 18);

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [ ]:
%%sql
-- (RI-2)

CREATE OR REPLACE FUNCTION check_workplace_exclusivity()
RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(*) FROM office WHERE address = NEW.address)
        + (SELECT COUNT(*) FROM warehouse WHERE address = NEW.address) != 1 THEN
        RAISE EXCEPTION 'Address must be in warehouse or office but not both';
    END IF;
    
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER workplace_exclusivity
AFTER INSERT ON workplace
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_workplace_exclusivity();

CREATE CONSTRAINT TRIGGER workplace_exclusivity
AFTER INSERT OR UPDATE OR DELETE ON office
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_workplace_exclusivity();

CREATE CONSTRAINT TRIGGER workplace_exclusivity
AFTER INSERT OR UPDATE OR DELETE ON warehouse
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_workplace_exclusivity();

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [ ]:
%%sql
-- (RI-3)

CREATE OR REPLACE FUNCTION check_order_in_contains()
RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(*) FROM contains WHERE order_no = NEW.order_no) = 0 THEN
        RAISE EXCEPTION 'Order_no must exist in contains';
    END IF;
    
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE OR REPLACE FUNCTION check_order_still_in_contains()
RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(*) FROM contains WHERE order_no = OLD.order_no) = 0
        AND EXISTS(SELECT order_no FROM orders WHERE order_no = OLD.order_no) THEN
        RAISE EXCEPTION 'Order_no must exist in contains';
    END IF;
    
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_order_in_contains
AFTER INSERT ON orders
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_order_in_contains();

CREATE CONSTRAINT TRIGGER check_order_still_in_contains
AFTER UPDATE OR DELETE ON contains
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_order_still_in_contains();

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [ ]:
%%sql

WITH paid_orders_total AS (
    SELECT
        cust_no,
        order_no,
        SUM(qty * price) AS total
    FROM
        pay
    INNER JOIN contains USING (order_no)
    INNER JOIN product USING (sku)
    GROUP BY order_no
)
SELECT
    c.cust_no,
    c.name
FROM
    paid_orders_total
INNER JOIN customer c USING (cust_no)
GROUP BY c.cust_no
HAVING SUM(total) >= ALL(
     SELECT
        SUM(total)
    FROM
        paid_orders_total
    INNER JOIN customer USING (cust_no)
    GROUP BY cust_no   
);

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [ ]:
%%sql

SELECT
    name
FROM
    employee e
WHERE NOT EXISTS (
    SELECT t.day::DATE
    FROM generate_series('2022-01-01'::TIMESTAMP, '2022-12-31'::TIMESTAMP, '1 day') AS t(day)
    EXCEPT
    SELECT date
    FROM process
    INNER JOIN orders USING (order_no)
    WHERE ssn = e.ssn
);

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [ ]:
%%sql

SELECT
    month,
    COUNT(not_paid_orders.date)
FROM
    (
        SELECT date
        FROM orders
        WHERE EXTRACT(YEAR FROM date) = 2022
            AND order_no NOT IN (SELECT order_no FROM pay)) AS not_paid_orders
RIGHT JOIN generate_series(1, 12) AS month ON (EXTRACT(MONTH FROM date) = month)
GROUP BY month
ORDER BY month;

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql

DROP VIEW IF EXISTS product_sales;

CREATE VIEW product_sales AS
SELECT
    sku,
    order_no,
    qty,
    qty * price AS total_price,
    EXTRACT(YEAR FROM date) AS year,
    EXTRACT(MONTH FROM date) AS month,
    EXTRACT(DAY FROM date) AS day_of_month,
    EXTRACT(DOW FROM date) AS day_of_week,
    SUBSTRING(address SIMILAR '%____-___ #"%#"%' ESCAPE '#') AS city
FROM
    contains
INNER JOIN product USING (sku)
INNER JOIN orders USING (order_no)
INNER JOIN customer USING (cust_no)
WHERE order_no IN (SELECT order_no FROM pay);

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql

WITH product_by_city_and_date AS (
    SELECT
        sku,
        city,
        EXTRACT(YEAR FROM generate_series) AS year,
        EXTRACT(MONTH FROM generate_series) AS month,
        EXTRACT(DAY FROM generate_series) AS day_of_month,
        EXTRACT(DOW FROM generate_series) AS day_of_week
    FROM generate_series('2022-01-01'::TIMESTAMP, '2022-12-31'::TIMESTAMP, '1 day')
    CROSS JOIN (SELECT DISTINCT sku FROM product_sales) AS sku_list
    CROSS JOIN (SELECT DISTINCT city FROM product_sales) AS city_list
    ORDER BY sku
)
SELECT
    sku,
    COALESCE(city::VARCHAR, 'WORLDWIDE') AS city,
    COALESCE(month::VARCHAR, 'WHOLE YEAR') AS month,
    COALESCE(day_of_month::VARCHAR, 'WHOLE MONTH') AS day_of_month,
    COALESCE(day_of_week::VARCHAR, 'ALL WEEK DAYS') AS day_of_week,
    SUM(COALESCE(qty, 0)) AS total_qty,
    SUM(COALESCE(total_price, 0)) AS total_sales
FROM product_sales
RIGHT JOIN product_by_city_and_date USING (sku, city, year, month, day_of_month, day_of_week)
GROUP BY sku, GROUPING SETS ((city), (month), (day_of_month), (day_of_week), ())
ORDER BY sku, city, month::INTEGER, day_of_month::INTEGER, day_of_week::INTEGER;

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql

WITH days_of_2022 AS (
    SELECT
        EXTRACT(YEAR FROM generate_series) AS year,
        EXTRACT(MONTH FROM generate_series) AS month,
        EXTRACT(DAY FROM generate_series) AS day_of_month,
        EXTRACT(DOW FROM generate_series) AS day_of_week
    FROM generate_series('2022-01-01'::TIMESTAMP, '2022-12-31'::TIMESTAMP, '1 day')
)
SELECT
    COALESCE(month::VARCHAR, 'WHOLE YEAR') AS month,
    COALESCE(day_of_week::VARCHAR, 'WHOLE MONTH') AS day_of_week,
    AVG(daily_sales)::NUMERIC(13,5) AS avg_sales
FROM (
    SELECT
        d.month AS month,
        d.day_of_week AS day_of_week,
        d.day_of_month AS day_of_month,
        SUM(COALESCE(p.total_price, 0)) AS daily_sales
    FROM product_sales p
    RIGHT JOIN days_of_2022 d USING (year, month, day_of_month, day_of_week)
    GROUP BY month, day_of_month, day_of_week
) AS sales_per_day
GROUP BY GROUPING SETS ((month), (day_of_week), ())
ORDER BY month::INTEGER, day_of_week;

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023;

### Tipo de Índice, Atributos & Justificação

CREATE INDEX orders_extract_year_idx ON orders USING HASH(EXTRACT(YEAR from date));

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE 'A%' 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

CREATE INDEX product_name_idx ON product(name) WHERE name LIKE 'A%';