# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Flávio Martins

### Turno BD2L19 - Grupo 05
<dl>
    <dt>14 horas (33.3%)</dt>
    <dd>ist102802 Fábio Mata</dd>
    <dt>14 horas (33.3%)</dt>
    <dd>ist102848 Diogo Rodrigues</dd>
    <dt>14 horas (33.3%)</dt>
    <dd>ist103392 Nuno Gonçalves</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address)
    - unique(email)
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK (Customer) NOT NULL
    - IC-1: any order_no in Order must exist in contains
    - IC-2: when an Order is removed from the database, it must also be removed from Sale
- Sale(<u>order_no</u>)
    - order_no: FK (Order)
- pay(<u>order_no</u>, cust_no)
    - order_no: FK (Sale)
    - cust_no: FK (Customer) NOT NULL
    - IC-3: Customers can only pay for the Sale of an Order they have placed themselves
- Employee(<u>ssn</u>, TIN, bdate, name)
    - unique(TIN)
    - IC-4: any ssn in Employee must exist in works
- process(<u>ssn</u>, <u>order_no</u>)
    - ssn: FK (Employee)
    - order_no: FK (Order)
- Department(<u>name</u>)
- Workplace(<u>adress</u>, lat, long)
    - unique(lat, long)
    - IC-5: when a Workplace is removed from the database, it must also be removed from Office and/or Warehouse
- works(<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK (Employee)
    - name: FK (Department)
    - address: FK (Workplace)
- Office(<u>address</u>)
    - address: FK (Workplace)
- Warehouse(<u>address</u>)
    - address: FK (Workplace)
- Product(<u>sku</u>, name, description, price)
    - IC-6: any sku in Product must exist in Supplier
    - IC-7: when a Product is removed from the database, it must also be removed from EAN_Product
- EAN_Product(<u>sku</u>, ean)
    - sku: FK (Product)
- Supplier(<u>TIN</u>, name, address, sku, date)
    - sku: FK (Product) NOT NULL
- contains(<u>order_no</u>, <u>sku</u>, qty):
    - order_no: FK (Order)
    - sku: FK (Product)
- delivery(<u>address</u>, <u>TIN</u>)
    - address: FK (Warehouse)
    - TIN: FK (Supplier)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-1: any order_no in Order must exist in contains
- IC-2: when an Order is removed from the database, it must also be removed from Sale
- IC-3: Customers can only pay for the Sale of an Order they have placed themselves
- IC-4: any ssn in Employee must exist in works
- IC-5: when a Workplace is removed from the database, it must also be removed from Office and/or Warehouse
- IC-6: any sku in Product must exist in Supplier
- IC-7: when a Product is removed from the database, it must also be removed from EAN_Product

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

**1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023.**

$ CP50 \gets \big( contains \bowtie_{co.sku \, = \, p.sku} \, (\sigma_{price \, \gt \, 50} (Product)) \big)$
<br>

$ OCP50 \gets \big( \sigma_{date \, \geq \, "2023-01-01" \kern{0.3em} \wedge \kern{0.3em} date \, \leq \, "2023-12-31"}(Order)
 \space \bowtie_{o.order\_no \, = \, cp.order\_no} CP50  \big) $
<br>

$ \Pi_{cu.name} (Customer \bowtie_{cu.cust\_no \, = \, ocp.cust\_no} OCP50) $

**2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023.**



$ W@W \gets \big( 
    works \bowtie_{wo.adress \, = \, wa.adress} \, (Warehouse \, - \, Office) 
\big) $
<br>

$ P \gets \big( 
    \sigma_{date \, \geq \, "2023-01-01" \kern{0.3em} \wedge \kern{0.3em} date \, \leq \, "2023-01-31"}(order) 
    \space \bowtie_{o.order\_no \, = \, pr.order\_no}process 
    \space \bowtie_{pr.ssn \, = \, ww.ssn} W@W
\big) $
<br>

$\Pi_{e.name}(Employee \bowtie_{e.ssn \, = \, p.ssn} P) $

**3. Indique o nome do produto mais vendido.**

$ SPP \gets \big(  {\ }_{sku}G_{sum(c.qty) \, \to \, sales} (Sale \space \bowtie_{s.order\_no \, = \, c.order\_no} Contains) \big)$
<br>

$ MS \gets \big( G_{max(sales) \, \to \, sales} (SPP) \space \bowtie SPP \big) $
<br>

$ \Pi_{p.name} \big( Product \space \bowtie_{p.sku \, = \, ms.sku} MS \big) $

**4. Indique o valor total de cada venda realizada.**

$ Sold\_Products \gets \big( Sale \space \bowtie_{s.order\_no \, = \, c.order\_no}
    Contains \space \bowtie_{c.sku \, = \, p.sku} Product \big)$
<br>

$ T \gets \Pi_{order\_no, \, qty*price \, \to \, total\_price} (Sold\_Products) $
<br>

$ {\ }_{order\_no}G_{sum(total\_price)}(T)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [1]:
%load_ext sql
%sql postgresql://postgres:postgres@postgres/db

In [ ]:
%%sql --file schema.sql

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql --file populate.sql

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [4]:
%%sql

SELECT                                                                
    DISTINCT cu.name
FROM
    (SELECT * FROM products WHERE price > 50) AS products_50
INNER JOIN contains USING (sku)
INNER JOIN (SELECT * FROM orders WHERE date BETWEEN '2023-01-01' AND '2023-12-31') AS orders_2023 USING (order_no)
INNER JOIN customers cu USING (cust_no);

*  postgresql://postgres:***@postgres/db
4 rows affected.

[('Celia',), ('Diogo',), ('Nuno',), ('Sara',)]

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [5]:
%%sql

SELECT
    DISTINCT e.name
FROM
    (
        SELECT * FROM warehouses
        EXCEPT
        SELECT * FROM offices
    ) AS only_warehouses
INNER JOIN works USING (address)
INNER JOIN process USING (ssn)
INNER JOIN (SELECT * FROM orders WHERE date BETWEEN '2023-01-01' AND '2023-01-31') AS orders_jan USING (order_no)
INNER JOIN employees e USING (ssn);

*  postgresql://postgres:***@postgres/db
2 rows affected.

[('Christopher Lee',), ('Matthew Taylor',)]

3. Indique o nome do produto mais vendido;

In [6]:
%%sql

WITH amount_sold_per_sku AS (
    SELECT
        sku,
        SUM(c.qty) AS amount_sold
    FROM
        sales
    INNER JOIN contains c USING (order_no)
    GROUP BY sku
)

SELECT
    p.name
FROM
    amount_sold_per_sku asps
CROSS JOIN (SELECT MAX(amount_sold) AS max_amount_sold FROM amount_sold_per_sku) AS max_quantity
INNER JOIN products p USING (sku)
WHERE asps.amount_sold = max_quantity.max_amount_sold;

*  postgresql://postgres:***@postgres/db
1 rows affected.

[('Product 4',)]

4. Indique o valor total de cada venda realizada.

In [7]:
%%sql

SELECT
    order_no,
    SUM(total_price) AS order_total
FROM
    (
        SELECT
            order_no,
            qty * price AS total_price
        FROM
            sales
        INNER JOIN contains USING (order_no)
        INNER JOIN products USING (sku)
    ) AS total_product_price_per_order
GROUP BY order_no;

*  postgresql://postgres:***@postgres/db
5 rows affected.

[(3, Decimal('29.97')),
 (5, Decimal('439.89')),
 (9, Decimal('2259.71')),
 (7, Decimal('774.79')),
 (1, Decimal('9.99'))]